body {
  margin: 0;
  font-family: "Karla", "Trebuchet MS", sans-serif;
  color: #333333;
  background:
    radial-gradient(circle at 5% 5%, #f4ce1426 0, transparent 22%),
    linear-gradient(180deg, #f7f7f7 0, #ffffff 35%, #f2f5f4 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
